.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.site-footer {
	background-color: #222222;
	color: #857F74;
	display: block;
	clear: both;
	padding: 15px 0px;
}

.header-logo {
	max-width: 200px; 
	padding: 15px 15px;
}

.footer-logo {
	max-width: 200px; 
	float: right;
	padding right: 15px;
}

h5 {
	padding-bottom: 10px;
}


h6 {
	font-weight: bold;
	padding-top: 10px;
}